.container {
    @apply w-screen flex;
}

.containerHalfLeft {
    @apply w-1/2 overflow-hidden h-screen;
}

.containerHalfRight {
    @apply w-1/2 h-screen;
}

.headerContent {
    @apply text-3xl text-center font-semibold pb-5;
}

.input {
    @apply shadow-sm border-gray-300 rounded-2xl py-3 px-4 w-full mb-10
}

.headerInput {
    @apply mb-3
}

.logo {
    @apply mb-10
}

.login {
    @apply mx-auto bg-utama text-white font-semibold py-2 px-8 rounded-full;

    &:hover {
        @apply bg-blue-900
    }
}

.submit {
    @apply ml-auto bg-utama text-white font-semibold py-2 px-14 rounded-lg text-2xl;

    &:hover {
        @apply bg-blue-900
    }
}

.radioInput {
    display: none;
}

.radioLabel {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.radioLabel span {
    position: relative;
    line-height: 22px;
}

.radioLabel span:before,
.radioLabel span:after {
    content: '';
}

.radioLabel span:before {
    border: 1px solid #222021;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

.radioLabel input:checked+span:after {
    opacity: 1;
}

.radioLabel span:after {
    background: #222021;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 1.3px;
    left: 3px;
    transition: 300ms;
    opacity: 0;
}